@import "../colors";

input {
  border: none;
  border-bottom: #ed9884 solid 3px;
  background: transparent;
  width: 100%;
  padding: 3px;
  user-select: none;
  &:focus {
    outline: none;
    transform: scale(1.01);
  }
}


::-webkit-input-placeholder { /* Chrome */
  color: @font-color;
  font-weight: 700;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @font-color;
  font-weight: 700;
}
