.file {
  background: linear-gradient(90deg, rgba(38, 38, 38, 0.5788516090029762) 0%, rgba(97, 97, 97, 0.37717093673406865) 53%, rgba(38, 38, 38, 0.6320728975183824) 100%);
  border-radius: 10px;
  transition: all 0.2s;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
}

.card {
  background: linear-gradient(0deg, rgba(38, 38, 38, 0.5788516090029762) 0%, rgba(97, 97, 97, 0.37717093673406865) 53%, rgba(38, 38, 38, 0.6320728975183824) 100%);
  border-radius: 10px;
  border: none;
  margin: 6px;
}

.file-plate {
  width: 180px;
  height: 180px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.dropdown {
  background: linear-gradient(90deg, rgba(59, 59, 59, 0.58) 0%, rgba(87, 87, 87, 0.38) 53%, rgba(57, 57, 57, 0.63) 100%);
  border: none;
  border-radius: 10px;
  margin-top: 4px;
  padding: 8px 8px;
  text-align: center;
}