@tailwind base;
@tailwind components;
@tailwind utilities;
@background-color: #111111; /* Dark background color */
@font-color: #B0B0B0; /* Light text color */

::-webkit-input-placeholder { /* Chrome */
  color: @font-color;
  font-weight: 700;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @font-color;
  font-weight: 700;
}