@import "../../utils/global";

.authorization {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background-color: #313131;
  border-radius: 20px;
  padding: 30px;
  align-self: center;
  margin-top: 100px;

  &__header {
    font-size: 30px;
    font-weight: 700;
  }
}