@import "../../utils/global";

.search {
  margin-left: 20px;
  margin-right: 20px;
}

.offset_btn {
  margin-left: auto;
  margin-right: 1rem;
}

.navbar {
  /* Make the navbar stay on top of the content, even when scrolling down */
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 50px;

  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
}

.container {
  min-width: 900px;
  width: 60vw;
  padding: 0 5rem;
  display: flex;
  align-items: center;
}